/*This is a web challenge project*/
body {
    background-color: #25878B;
    background-image: url(km.jpg);
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 50px;
    text-align: center;
    margin-top: 10px;
    border: solid 4px;
    border-radius: 80px;
    color: #426871
}

.imgs {
    text-align: center;
}

.img1 {
    width: 350px;
    display: inline;
    margin-left: 55px;
    margin-top: -28px;
}

.img2 {
    width: 300px;
    display: inline;
    margin-top: -55px;
    margin-left: 55px;
}